<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <nav>
        <div>
            <h1>Blogs</h1>
            <a href="/">Blog Category</a>
            <p>A Blog Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>  

    <div>
        <h3>Content Not found</h3>
        <p>404 Error</p>
    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
</html>