<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div>
        <h2>About Content</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, libero blanditiis! Cupiditate molestias nam impedit sapiente quo amet maiores. Quod et ad nulla. Iusto tempora unde eaque assumenda at dignissimos accusantium maxime odit, nisi atque perferendis quaerat fuga officia esse tenetur, dolor omnis nihil deleniti. Sed inventore numquam molestiae quibusdam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quod deleniti at labore necessitatibus velit eveniet sequi ducimus? Veniam, laborum omnis? Quibusdam rerum facilis veniam inventore nulla. Aperiam cum quia et porro dicta natus nam, mollitia quis eius odit laboriosam veritatis saepe quaerat quasi. Minima voluptatem ex suscipit perferendis aliquid!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quasi aspernatur commodi accusantium quae enim dicta quod laborum possimus ducimus tempore sit minima ullam facere natus facilis, itaque molestiae dolores voluptatem architecto nobis hic dignissimos accusamus quos? Odio suscipit facere quae omnis, consequatur delectus voluptatem voluptatibus tenetur doloremque, odit hic.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>